<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="info.upump.mycompose.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="info.upump.jym.picker.FolderPicker"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.exercise.ExerciseDetailTemplateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WorkoutViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
         />
        <activity
            android:name=".activity.cycle.CycleDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.cycle.CycleDetailDefaultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.workout.WorkoutActivityForChoose" />
        <activity
            android:name=".activity.cycle.CycleCreateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.workout.WorkoutCreateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.workout.WorkoutDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.workout.WorkoutDetailDefaultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.exercise.ExerciseCreateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.exercise.ExerciseActivityForChoose" />
        <activity android:name=".activity.exercise.ExerciseDetail" />
        <activity android:name=".activity.exercise.ExerciseDetailDefaultActivity" />
        <activity android:name=".activity.sets.SetActivityCreate" />
        <activity android:name=".activity.cycle.CycleActivityForChoose" />
        <activity android:name=".activity.user.UserCreateActivity" />
        <activity android:name=".activity.user.UserGraphActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.user.UserDetailActivity" />
    </application>

</manifest>